body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body * {
  margin: auto;
}
.panel {
  display: flex;
}
.panel > div {
  padding: 10px 15px;
}
table {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.gameField tr td {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 40px;
  background-color: aqua;
}
button {
  height: 50px;
  width: 200px;
  margin-top: 30px;
  background-color: blueviolet;
  font-size: 30px;
  color: yellow;
}
